body { 
    background-color: rgb(52, 53, 48); 
    font-family: "Lato", sans-serif; 
    color: black; 
    margin: 0; 
}

h1 { 
    text-align: center; 
    color: chocolate; 
}

footer { 
    text-align: left; 
    margin-right: 200px; 
}

.img-princessbride { 
    margin: 0 auto; 
    text-align: center; 
}

#sample { 
    text-align: left; 
    color: brown; 
}

nav a { 
    text-align: left; 
    color: azure; 
    height: 6000px; 
    width: 200px; 
    padding: 5px; 
    line-height: 30px; 
}

nav img { 
    width: 50px; 
    height: 50px; 
}

nav a:hover { 
    background-color: white; 
    color: black; 
}

.contact-banner { 
    background-image: linear-gradient( to right, rgb(114, 0, 0) 0%, rgb(206, 139, 15) 100% ); 
    color: white; 
    padding: 40px; 
}

body {
    font-family: "Lato", sans-serif;
    color: black;
    margin: 0;
    text-align: left; 
}

button.center {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
     
}