body { background-color: rgb(7, 5, 5); color: rgb(241, 234, 234);
}
h1 { text-align: center;
}
footer { text-align: center;margin-right: 200px
}
.img-princessbride {margin-right: 200px; 
}
nav { height: 6000px; width: 200px; float: left; padding: 5px; line-height: 30px;
} 